---
layout: base.njk
title: Home
---

<img class="avatar" src="{{ '/assets/avatar/avatar.jpg' | url }}" alt="Al Idian">

<p>
    Hello world! I'm Al, a software developer in Vancouver, British Columbia.
</p>

<p>
    Currently, I am keeping busy with software development at Absolute Software, graduate coursework at Georgia Tech, and occasional open source development for various projects.
</p>

<p>
    I keep some of my stuff on <a href="{{ links | findElement('name', 'GitHub', 'url') | url }}">GitHub</a> and track my reading on <a href="{{ links | findElement('name', 'Books', 'url') | url }}">Goodreads</a>.
</p>

<h2>Blog Posts</h2>

<ul>
    {% for post in collections.post | reverse %}
        <li>
            <span class="large-screen-only"><span class="gray-text" datetime="{{ post.data.date | dateString }}">{{ post.data.date | dateString }}</span> -</span>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
    {% endfor %}
</ul>

<h2>Links</h2>

<ul>
    {% for link in links %}
        <li><a href="{{ link.url | url}}">{{ link.name }}</a></li>
    {% endfor %}
</ul>
