<p>
    At the end of each year, I plan to compile a list of my favourite things, i.e. books, films, shows, and games. This is inspired by <a href="https://obama.org/stories/obama-picks">Barack Obama's famous lists</a> and by the delightful <em>What's Making Us Happy</em> segment of NPR's <a href="https://www.npr.org/podcasts/510282/pop-culture-happy-hour">Pop Culture Happy Hour</a> podcast.
</p>
<p>
    Here is this year's list...
</p>
