<p>
    Georgia Tech Online Master of Science in Computer Science (OMSCS) is an innovative, award-winning graduate program offered by the College of Computing at Georgia Tech. (<a href="https://en.wikipedia.org/wiki/Georgia_Tech_Online_Master_of_Science_in_Computer_Science">Wikipedia</a>)
</p>
<p>
    As I make my way through this program, I intend to write short, opinionated reviews of the courses I complete. My intended audience for this is the current or prospective OMSCS student who is considering taking these courses.
</p>
