name: build-personal-site

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: 22

    - name: Install dependencies
      run: npm ci

    - name: Build Eleventy app
      run: npx @11ty/eleventy

    - name: Debug Info
      run: |
        cat package.json
        ls -la node_modules

    - name: Deploy site
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site
        cname: idian.io
